quiz-list {
  width: 400px;
  display: block;
  padding: 2px 20px;
  margin: 0px 5px;
  float: left;
}

  quiz-list.latest {
    background-color: #964950;
  }

  quiz-list.random {
    background-color: #9994bc;
  }

  quiz-list.byTitle {
    background-color: #ff6a00;
  }
